In [1]:
from collections import Counter
import pandas as pd
from nltk.util import ngrams


read_file = 'words_count.txt'
test = 'words_count_1000.txt'
n_dict = dict()
i = 0

#### Отметьте разбиение N-gramm на количество слов:

In [32]:
# укажите количество:
n = 2

creating preprocessing functions for getting n-grams correctly.

In [69]:
def preprocess(string):
    return string.split()

# можно по всем n-граммам от 2 (включительно)


def extract_n_grams(sequence, n):
    ngram = ngrams(sequence, n)
    for item in ngram:
        n_dict[item] = n_dict.get(item, 0) + 1

reading needful data-fle and use our functions created upper.

In [34]:
with open(read_file) as corpus:
    for line in corpus:
        sequence = preprocess(line)
        extract_n_grams(sequence, n)

In [35]:
# counting n-grams using dict
rez = Counter(n_dict)
df = pd.DataFrame(rez.most_common(5000))
df.to_csv("x{}".format(n)+'_grams.txt')

In [56]:
dr = pd.read_csv("x{}".format(n)+'_grams.txt')

In [57]:
dr.head(15)

    Unnamed: 0                       0       1
0            0         ('по', 'слово')  203399
1            1       ('о', 'сообщать')  120407
2            2      ('риа', 'новость')  115572
3            3      ('россия', 'весь')  112888
4            4         ('мир', 'весь')   95640
5            5        ('по', 'данные')   92566
6            6   ('миллион', 'доллар')   77673
7            7            ('в', 'год')   76510
8            8  ('миллиард', 'доллар')   66360
9            9  ('настоящее', 'время')   62724
10          10   ('уголовный', 'дело')   57270
11          11   ('экономика', 'весь')   55290
12          12      ('бывший', 'ссср')   54848
13          13    ('наука', 'техника')   53353
14          14     ('сообщать', 'риа')   53011

In [58]:
from nltk.corpus import stopwords
rus_stopwords = stopwords.words("russian")

Processing raw data and columns ( i will do it step by step)

In [59]:
dr['new'] = dr['0'].apply(lambda x: str(x).strip("(')").replace("', '", ' '))

In [60]:
dr

,Unnamed: 0,0,1,new
0,0,"('по', 'слово')",203399,по слово
1,1,"('о', 'сообщать')",120407,о сообщать
2,2,"('риа', 'новость')",115572,риа новость
3,3,"('россия', 'весь')",112888,россия весь
4,4,"('мир', 'весь')",95640,мир весь
...,...,...,...,...
4995,4995,"('который', 'запланировать')",1245,который запланировать
4996,4996,"('компания', 'должный')",1245,компания должный
4997,4997,"('путешествие', 'происшествие')",1245,путешествие происшествие
4998,4998,"('находиться', 'километр')",1244,находиться километр
4999,4999,"('в', 'лондон')",1244,в лондон

In [61]:
dr['new2'] = dr['new'].apply(lambda x: [_ for _ in x.split(' ') if _ not in rus_stopwords])

change useless data strings to 0. It helps us to preprocess data-columns correcnly in the future movements

In [62]:
dr['new2'] = dr['new2'].apply(lambda x: x if len(x) > n - 1 else 0)

In [63]:
dr

,Unnamed: 0,0,1,new,new2
0,0,"('по', 'слово')",203399,по слово,0
1,1,"('о', 'сообщать')",120407,о сообщать,0
2,2,"('риа', 'новость')",115572,риа новость,"[риа, новость]"
3,3,"('россия', 'весь')",112888,россия весь,"[россия, весь]"
4,4,"('мир', 'весь')",95640,мир весь,"[мир, весь]"
...,...,...,...,...,...
4995,4995,"('который', 'запланировать')",1245,который запланировать,"[который, запланировать]"
4996,4996,"('компания', 'должный')",1245,компания должный,"[компания, должный]"
4997,4997,"('путешествие', 'происшествие')",1245,путешествие происшествие,"[путешествие, происшествие]"
4998,4998,"('находиться', 'километр')",1244,находиться километр,"[находиться, километр]"
4999,4999,"('в', 'лондон')",1244,в лондон,0

In [64]:
dr = dr.loc[dr['new2'] != 0]

In [65]:
dr = dr.drop(columns=['new2', '0'])

# Our result:

In [67]:
dr.head(25)

    Unnamed: 0       1                 new
2            2  115572         риа новость
3            3  112888         россия весь
4            4   95640            мир весь
6            6   77673      миллион доллар
8            8   66360     миллиард доллар
..         ...     ...                 ...
31          31   38215         прошлое год
33          33   36758          спорт весь
34          34   36754    президент россия
35          35   35403  сообщать интерфакс
36          36   35177         декабрь год

[25 rows x 3 columns]

In [76]:
presidents = dr[dr.new.str.contains('президент')]
RUSSIA = dr[dr.new.str.contains('владимир путин')]
presidents.head(15)
RUSSIA

     Unnamed: 0      1                      new
34           34  36754         президент россия
51           51  27999            президент сша
104         104  17596        президент украина
168         168  13226           вица президент
254         254   9946         бывший президент
263         263   9712             президент рф
293         293   9193         президент страна
336         336   8413  администрация президент
384         384   7586      президентский выбор
397         397   7491       кандидат президент
439         439   7064           пост президент
469         469   6687       президент владимир
609         609   5450          выбор президент
774         774   4526        заявить президент
867         867   4232            год президент

    Unnamed: 0      1             new
23          23  46714  владимир путин

Исходя из н-грамм можно сделать вывод что в новостных лентах преобладают новости экономического и политического характера.
Также можно судить о рейтингах, допустим глав стран, чиновников, и других известных людей, исходя из этих данных. Например: упоминаний о Президенте РФ, В.В.Путине, достаточно много, поэтому можно сделать вывод, что и новостных статей про него тоже много. Чего не скажешь про президентов США, о них упоминаний гораздо меньше, следовательно и нвоостных моментов тоже меньше.
Следовательно и рейтинги Президента РФ выше.